html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#root {
    height: 100%;
}
.main-page {
    height: 100%;
    overflow: hidden;
    background: #191A29;

    .head {
        display: flex;
        align-items: center;
        height: 80px;
        .head-logo { 
            margin-left: 26px; 
            margin-right: 10px;
        }
        .head-span { 
            font-size: 14px;
            line-height: 14px; 
            font-family: 'Poppins';
            color: #FFFFFF;
            letter-spacing: 0.2em;
        }
    }

    .main-content {
        display: flex;
  
        padding-right: 32px;
        .left-content {
            position: relative;
            flex-grow: 1;
            .type-list {
                padding-left: 32px;
                display: flex;
                .type-item { 
                    box-sizing: border-box;
                    display: flex; 
                    flex-direction: column;
                    align-items: center;
                    margin-right: 20px;
                    width: 70px;
                    height: 66px;
                    border-radius: 8px;
                    color: #9499C3;
                    &:hover {
                        border: 1px solid #32334A; 
                    }
                    .type-img {
                        margin-top: 10px;
                        width: 24px;
                    }
                    p {
                        margin: 0;
                        margin-top: 7px;
                        line-height: 12px;
                        height: 12px;
                    }
                }
            }
            .game-table-block {
                position: absolute;
                top: 90px; 
                left: 0;
                right: 0;
                bottom: 0; 
                overflow-y: auto; 
                padding-left: 32px;
                padding-right: 32px;
                .game-table {
                    border: 0;
                    width: 100%;
                    border-collapse: collapse;
                    thead {
                        height: 42px;
                        line-height: 42px;
                        color: #fff;
                        th {
                            border-bottom: 0.5px solid #9499C3;
                        }
                    }
                    tbody {
                     
                        color: #9499C3;
                        th{ 
                            font-family: 'Lato';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 11px; 
                            height: 35px;
                            line-height: 35px;
                            border-bottom: 0.5px solid #9499C3;
                        }
                        .first-column {
                            font-family: 'Lato';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 11px;
                            line-height: 100%;
                        }
                        tr{
                            border-bottom: 1px solid #9499C3;
                        }
                    }
                }
            }
            .split-line { 
                margin-top: 24px;
                border: none;
                border-bottom: 1px solid #33344B;
                position: relative; 
            }
        }
        .right-content {
            width: 800px;
            p{
                font-family: 'Lato';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 100%;
                color: #FFFFFF;}
            img {
                width: 800px;
                height: 800px;
            }
        }
    }
}
@font-face {
    font-family: 'Poppins';
    src: url(../font/poppins-v15-latin-regular.ttf);
}
@font-face {
    font-family: 'Lato';
    src: url(../font/lato-v17-latin-700.ttf);
}
